body {
    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.top {
    /* background-color: #fafafa; */
    /* background-color: #eeeeee; */
    /* background-color: #f7fbfc; */
    background-color: #303841;
    /* background-color: #dae1e7; */
    padding: 2%;
    /* height: 500px; */
}

.Header {
    /* color: #ff7e67; */
    color: #e49000;
    /* color: #ff5722; */
    width:80%;
    margin-top: 10%;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 0px;
    font-family: 'Dancing Script', cursive;
    font-size: 437.5%;
    /* position: fixed; */
}

h2 {
/* background-color: #303841; */
color: #00adb5;
/* font-family: Helvetica, Arial, sans-serif; */
font-family: 'Sarabun', sans-serif;
font-size: 300%;
}

.pro {
    text-decoration: underline;
}

.topcloud {
    position: absolute;
    right:5%;
    width: 15%;
}

.bottomcloud {
    position: absolute;
    left:5%;
    width: 15%;
    /* display: inline; */
    /* right: 20%;
    top: 50px; */
}

.Header-footer {
    color: #00adb5;
    font-size: 125%;
    /* font-family: Helvetica, Arial, sans-serif; */
}

.middle-container {
    /* background-color: #a2d5f2; */
    /* background-color: #00adb5; */
    /* font-family: Helvetica, Arial,  sans-serif; */
    /* background-color: #00adb5; */
    background-color: #eeeeee;
}



.bottom-container {
    /* background-color: #303841; */
    /* font-family: Helvetica, Arial,  sans-serif; */
    /* background-color: #eeeeee; */
    background-color: #303841;
    padding: 50px 0 20px;
}

.skills {
    /* background-color: #fafafa; */
    /* font-size: 85%; */
}

.profile {
    padding-top: 50px;
    width:50%;
    margin: 0 auto 0;
}

.BITSID {
    /* transform: rotate(-20deg); */
    /* margin-top: 20px; */
    height: 2em;
    /* margin: 0; */
    /* float: right; */
    /* position: absolute; */
    /* top: 10%; */
    /* left: 1%; */
    /* float: left; */
}

.Pilani {
    width: 22%;
    /* float: left; */
    transform: rotate(90deg);
    /* margin-right: 30px; */
}

.skill-row {
    width: 60%;
    margin: 100px auto 100px;
    text-align: left;
    line-height: 2;
    /* display: table; */
}

.cisco-img {
    float: left;
    width: 12em;
    /* height: 10em; */
    margin-right: 30px;
    
}

.bits-img {
    float: right;
    width: 12em;
    margin-left: 30px;
    /* display: inline; */
}

h3 {
    color: #07689f;
}

.profile-desc {
    width:75%;
    margin: 0 auto 50px;
}

.drawing {
    width:50%;
}

.profile-pic {
    width: 50%;
}

.AND {
    font-family: 'Dancing Script', cursive;
}

.date {
    font-family: 'Exo', sans-serif;
    /* margin-left: 2em; */
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px;
    text-align: left;
    line-height: 2;
}

p {
    line-height: 2;
}

hr {
    border: dotted #ff7e67 6px;
    border-bottom: none;
    width: 5%;
    margin: 7% auto;
}

.contact-message {
    margin: 40px auto 60px;
}

.contact-me {
    width: 60%;
    padding-bottom: 50px;
    margin: 0 auto;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

a {
    color : #00adb5;
    margin: 2em;
    font-family: 'Merriweather', serif;
    text-decoration: none;
}

a:hover {
    color : #eeeeee;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .devanagri {
    font-family: 'Kalam', cursive;
  }