body {
    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.top {
    /* background-color: #fafafa; */
    background-color: #eeeeee;
    /* background-color: #f7fbfc; */
    background-color: #303841;
    /* background-color: #dae1e7; */
    padding: 2%;
    /* height: 500px; */
}

h1 {
    /* color: #ff7e67; */
    color: #e49000;
    /* color: #ff5722; */
    width:30%;
    margin-top: 10%;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 0px;
    font-family: 'Dancing Script', cursive;
    font-size: 437.5%;
    /* position: fixed; */
}

h2 {
/* background-color: #303841; */
color: #00adb5;
font-family: Helvetica, Arial, sans-serif;
font-size: 200%;
}

.pro {
    text-decoration: underline;
}

.topcloud {
    position: absolute;
    right:20%;
    width: 15%;
}

.bottomcloud {
    position: absolute;
    left:20%;
    width: 15%;
    /* display: inline; */
    /* right: 20%;
    top: 50px; */
}

.Header-footer {
    color: #00adb5;
    font-size: 125%;
    /* font-family: Helvetica, Arial, sans-serif; */
}

.middle-container {
    /* background-color: #a2d5f2; */
    /* background-color: #00adb5; */
    /* font-family: Helvetica, Arial,  sans-serif; */
    /* background-color: #00adb5; */
    background-color: #eeeeee;
}

.contact-me {
    /* background-color: #303841; */
}

.bottom-container {
    /* background-color: #303841; */
    /* font-family: Helvetica, Arial,  sans-serif; */
}

.skills {
    /* background-color: #fafafa; */
    /* font-size: 85%; */
}

.profile {
    padding-top: 50px;
    width:50%;
    margin: 0 auto 0;
}

.BITSID {
    /* transform: rotate(-20deg); */
    /* margin-top: 20px; */
    height: 2em;
    /* margin: 0; */
    /* float: right; */
    /* position: absolute; */
    /* top: 10%; */
    /* left: 1%; */
    /* float: left; */
}

.Pilani {
    width: 22%;
    /* float: left; */
    transform: rotate(90deg);
    /* margin-right: 30px; */
}

.skill-row {
    width: 60%;
    margin: 100px auto 100px;
    text-align: left;
    line-height: 2;
    /* display: table; */
}

.cisco-img {
    float: left;
    width: 18%;
    /* height: 10em; */
    margin-right: 30px;
    
}

.bits-img {
    float: right;
    width: 18%;
    margin-right: 30px;
    /* display: inline; */
}

h3 {
    color: #07689f;
}

.profile-desc {
    width:75%;
    margin: 0 auto 50px;
}

.drawing {
    width:50%;
}

.profile-pic {
    width: 50%;
}

.AND {
    font-family: 'Dancing Script', cursive;
}

.date {
    font-family: 'Exo', sans-serif;
    /* margin-left: 2em; */
}

.skill-row {
    width: 60%;
    margin: 100px auto 100px;
    text-align: left;
    line-height: 2;
  }